[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
webdriver-manager = "*"
pandas = "*"
django = "*"
djongo = "1.3.6"
pytz = "*"
pymongo = "==3.12.3"

[dev-packages]

[requires]
python_version = "3.10"
